body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}
.sidebar-nav {
  margin-top: 20px;
  padding: .5rem;
  list-style: none;
  font-size: 1.5rem;
  line-height: 2;
}
.col-sm-10{
  font-size: 1.5rem;
  line-height: 1.5;
}